@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Airline Admin</title>
    <link rel="icon" href="~/assets/img/kaiadmin/favicon.ico" type="image/x-icon" />

    <!-- Fonts and icons -->
    <script src="~/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { families: ["Public Sans:300,400,500,600,700"] },
            custom: {
                families: [
                    "Font Awesome 5 Solid",
                    "Font Awesome 5 Regular",
                    "Font Awesome 5 Brands",
                    "simple-line-icons",
                ],
                urls: ["~/assets/css/fonts.min.css"],
            },
            active: function () {
                sessionStorage.fonts = true;
            },
        });
    </script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/assets/css/plugins.min.css" />
    <link rel="stylesheet" href="~/assets/css/kaiadmin.min.css" />
    <link rel="stylesheet" href="~/assets/css/demo.css" />
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <div class="sidebar" data-background-color="dark">
            <div class="sidebar-logo">
                <div class="logo-header" data-background-color="dark">
                    @if (HttpContextAccessor.HttpContext.Session.GetString("Admin") != null)
                    {
                        <a asp-action="Index" asp-controller="Admin" class="logo" style="color:#fff;">
                            Admin : @Context.Session.GetString("Admin")
                        </a>
                    }
                    else
                    {
                        <a href="index.html" class="logo">
                            kuch ni
                        </a>
                    }
                    <div class="nav-toggle">
                        <button class="btn btn-toggle toggle-sidebar">
                            <i class="gg-menu-right"></i>
                        </button>
                        <button class="btn btn-toggle sidenav-toggler">
                            <i class="gg-menu-left"></i>
                        </button>
                    </div>
                    <button class="topbar-toggler more">
                        <i class="gg-more-vertical-alt"></i>
                    </button>
                </div>
            </div>
            <div class="sidebar-wrapper scrollbar scrollbar-inner">
                <div class="sidebar-content">
                    <ul class="nav nav-secondary">
                        <li class="nav-section">
                            <span class="sidebar-mini-icon">
                                <i class="fa fa-ellipsis-h"></i>
                            </span>
                            <h4 class="text-section">All Components </h4>
                        </li>
                        <li class="nav-item">
                            <a data-bs-toggle="collapse" href="#baseAeroPlane">
                                <i class="fas fa-layer-group"></i>
                                <p>AeroPlane</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="baseAeroPlane">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a asp-action="AddAeroPlane" asp-controller="Admin">
                                            <span class="sub-item">AeroPlane Add</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="DetailAeroPlane" asp-controller="Admin">
                                            <span class="sub-item">AeroPlane Details</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a data-bs-toggle="collapse" href="#baseFlight">
                                <i class="fas fa-layer-group"></i>
                                <p>Flight</p>
                                <span class="caret"></span>
                            </a>
                            <div class="collapse" id="baseFlight">
                                <ul class="nav nav-collapse">
                                    <li>
                                        <a asp-action="AddFlight" asp-controller="Flight">
                                            <span class="sub-item">Flight Add</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="DetailFlight" asp-controller="Flight">
                                            <span class="sub-item">Flight Details</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->

        <div class="main-panel">
            <div class="main-header">
                <div class="main-header-logo">
                    <div class="logo-header" data-background-color="dark">
                        <a href="index.html" class="logo">
                            <img src="~/assets/img/kaiadmin/logo_light.svg" alt="navbar brand" class="navbar-brand" height="20" />
                        </a>
                        <div class="nav-toggle">
                            <button class="btn btn-toggle toggle-sidebar">
                                <i class="gg-menu-right"></i>
                            </button>
                            <button class="btn btn-toggle sidenav-toggler">
                                <i class="gg-menu-left"></i>
                            </button>
                        </div>
                        <button class="topbar-toggler more">
                            <i class="gg-more-vertical-alt"></i>
                        </button>
                    </div>
                </div>

                <!-- Navbar Header -->
                <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom">
                    <div class="container-fluid">
                        <nav class="navbar navbar-header-left navbar-expand-lg navbar-form nav-search p-0 d-none d-lg-flex">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button type="submit" class="btn btn-search pe-1">
                                        <i class="fa fa-search search-icon"></i>
                                    </button>
                                </div>
                                <input type="text" placeholder="Search ..." class="form-control" />
                            </div>
                        </nav>

                        <ul class="navbar-nav topbar-nav ms-md-auto align-items-center">
                            @if (HttpContextAccessor.HttpContext.Session.GetString("Admin") != null)
                            {
                                <li class="nav-item topbar-user dropdown hidden-caret">
                                    <a class="dropdown-toggle profile-pic"
                                       data-bs-toggle="dropdown"
                                       href="#"
                                       aria-expanded="false">
                                        <span class="profile-username">
                                            <span class="fw-bold">@Context.Session.GetString("Admin")</span>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user animated fadeIn">
                                        <div class="dropdown-user-scroll scrollbar-outer">
                                        <li>
                                            <a class="dropdown-item" asp-action="Logout" asp-controller="Admin">Logout</a>
                                        </li>
                        </div>
                        </ul>
                        </li>

                            }
                            else
                            {
                        <li class="nav-item topbar-user dropdown hidden-caret">
                            <a class="dropdown-toggle profile-pic"
                               data-bs-toggle="dropdown"
                               href="#"
                               aria-expanded="false">
                                <span class="profile-username">
                                    <span class="fw-bold">Kerkin</span>
                                </span>
                            </a>
                            <ul class="dropdown-menu dropdown-user animated fadeIn">
                                <div class="dropdown-user-scroll scrollbar-outer">
                                <li>
                                    <a class="dropdown-item">Logout</a>
                                </li>
                </div>
                </ul>
                </li>
                            }
                        </ul>
                    </div>
                </nav>
                <!-- End Navbar Header -->

                <div class="content">
                    <div class="container-fluid">
                        @RenderBody()
                    </div>
                </div>

                <footer class="footer">
                    <div class="container-fluid">
                        <div class="copyright text-center">
                            © 2023 Air Admin by <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <!-- JS Files -->
    <script src="~/assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="~/assets/js/core/popper.min.js"></script>
    <script src="~/assets/js/core/bootstrap.min.js"></script>
    <script src="~/assets/js/plugins/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/plugins/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/js/ka-admin.js"></script>
</body>
</html>
